{% extends "base.html" %}

{% block titulo %}HaltManager - Dashboard{% endblock %}

{% block conteudo %}
<main class="container mt-5">
    <h1><i class="fas fa-chart-line"></i> Dashboard</h1>
    <hr>
    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="card text-white bg-primary text-center">
                <div class="card-body">
                    <i class="fas fa-list fa-2x mb-2"></i>
                    <h5 class="card-title">Exercícios</h5>
                    <p class="card-text fs-3"><b>{{ data.0 }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-white bg-success text-center">
                <div class="card-body">
                    <i class="fas fa-clipboard-list fa-2x mb-2"></i>
                    <h5 class="card-title">Templates</h5>
                    <p class="card-text fs-3"><b>{{ data.1 }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-white bg-warning text-center">
                <div class="card-body">
                    <i class="fas fa-play-circle fa-2x mb-2"></i>
                    <h5 class="card-title">Minhas Sessões</h5>
                    <p class="card-text fs-3"><b>{{ data.2 }}</b></p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</main>
{% endblock %}
