{% extends "base.html" %}

{% block titulo %}HaltManager - {{ treino_template.nome }}{% endblock %}

{% block conteudo %}
<main class="container mt-5">
    <a href="/templates" class="btn btn-secondary mb-3">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
    <div class="card">
        <div class="card-header">
            <h4><i class="fas fa-clipboard-list"></i> {{ treino_template.nome }}</h4>
        </div>
        <div class="card-body">
            <p><em>Descrição:</em> {{ treino_template.descricao|default:"Sem descrição" }}</p>
            <p><em>Criado em:</em> {{ treino_template.criado_em|date:"d/m/Y" }}</p>
        </div>
    </div>
    <br><br>
</main>
{% endblock %}
